.logo {
  --gap: 0.35rem;
  text-decoration: none;
  color: inherit;
}

.logo__img {
  height: clamp(4ex, 3vw, 5ex);
  width: auto;
  flex: none;
}

.logo__text {
  line-height: 1;
  font-family: var(--ff-accent);
  font-weight: var(--fw-700);
  font-size: var(--fs-700);
}
